* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

#logo-title {
	display: inline-block;
	background: url('../images/dog-icon.svg') no-repeat;
	height: 40px;
	width: 40px;
	margin: 5px;
}

.top-nav {
	min-height: 50px;
	height: 50px;
	background-color: #92e0e5;
}

#main-nav {
	float: right;
}

#main-nav ul li {
	display: inline-block;
	list-style: none;
}

#main-nav a {
	text-decoration: none;
	color: #FFF;
	padding-right: 10px;
}

#main-nav a:hover {
	color: #428EA8;
}

#social-nav {
	display: inline-block;
	margin: 0 auto;
}

#social-nav ul {
	padding: 0;
}

#social-nav ul li {
	display: inline-block;
	list-style: none;
	margin: 0 20px;
}

.icon-color {
	fill: #FFF;
}

li:hover .icon-color {
	fill: #000;
}

.banner {
	background: url(../images/park.jpg) no-repeat;
	background-size: cover;
	min-height: 350px;
}

.header-dog {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid #428EA8;
	margin: 15px auto;
}

.banner h2 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin: 0 auto;
	padding: 15px 0;
}

.banner button,
.dogs button {
	display: block;
	font-family: 'Raleway', sans-serif;
	margin: 5px auto;
	border: 2px solid #428EA8;
	background-color: #FFF;
}

.banner a:hover,
.dogs a:hover {
	color: #000;
}

.dogs {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	text-align: center;
	padding: 10px;
}

.dogs img {
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border-radius: 50%;
	border: 2px solid #428EA8;
}

a {
	text-decoration: none;
	color: #428EA8;
}

footer {
	font-family: 'Raleway', sans-serif;
	background-color: #3F8DA7;
	padding: 5px 0;
	text-align: center;
}

footer a {
	text-decoration: underline;
	color: #FFF;
}

footer a:hover {
	color: #336a7c;
}

footer h4 {
	font-family: 'Raleway', sans-serif;
	color: #FFF;
}

@media (max-width: 888px) {
	.dogs {
		display: block;
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		padding: 10px 20px;
	}
}

@media (max-width: 320px) {
	#social-nav ul li {
		display: block;
		margin: 10px;
	}
}
