* {
	box-sizing: border-box;
}

body {
}

 /*layout styles*/

.top-nav {
	min-height: 50px;
	background-color: #92e0e5;

}

#main-nav {
	float: right;

}


 #main-nav ul li {
	display: inline-block;
	list-style: none;
 }

a {
	text-decoration: none;
	color: #FFF;
}

footer {
	background-color: #3F8DA7;
	padding: 5px 0;
}

.mobile-nav {
	list-style: none;
}

.header-dog,
.banner h1,
.banner button {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.banner button {
	border: none;
}

.banner h1 {
	margin: 0 auto;
}

footer a {
	text-decoration: underline;
}
